body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: gray;

    margin: 0px;
    padding: 0px;
}

/* .heading {
    display: flex;
    align-content: center;
} */

header {
    font-variant: small-caps;
    font-weight: bold;
}

nav {
    background-color: dodgerblue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;


}

a {
    text-decoration: none;
    color: black;
}

.navElement {
    margin: 5px;
    padding: 5px;

    font-size: 22px;
}

.navElement:hover {
    background-color: lightgray;
}
