body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: gray;

    /* font-family: 'Montez', cursive;
    font-family: 'Bilbo Swash Caps', cursive;
    font-family: 'Condiment', cursive;
    font-family: 'Bilbo', cursive; */
}

/* .heading {
    display: flex;
    align-content: center;
} */

header {
    font-variant: small-caps;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-color: dodgerblue;
}

.navElement {
    margin: 5px;
    padding: 5px;

    font-size: 22px;
}

.navElement:hover {
    background-color: lightgray;
}
