body {
    margin: 0px;
    padding: 0px;

    font-family: 'Cinzel Decorative', cursive;
    background: radial-gradient(circle, darkgray, gray);
}

header {
    font-variant: small-caps;
}

#title {
    margin: 0px;
    padding: 0px;

    line-height: 125px;
    height: 125px;

    text-shadow: 3px 3px darkgray;
}

.heading {
    background: radial-gradient(ghostwhite, dimgray);

    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

nav {
    background-color: forestgreen;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightgray;
}

.navElement {
    margin: 6px 12px 6px 12px;
    padding: 6px;

    font-size: 20px;
}

#signInInfo {
    margin: 15px;
    font-size: 20px;
    font-variant: small-caps;

    text-align: center;
}

#signIn {
    margin: 15px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#usernameInput {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 22px;
    font-variant: small-caps;

    background-color: lightgray;

    border: none;
}

#playButton {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 22px;
    font-variant: small-caps;

    background-color: forestgreen;
    border: none;
}

canvas {
    margin: 20px auto 10px auto;
}
